body {
    font-family: Tahoma, sans-serif;
}

#fashion {
    margin: auto;
    background-image: url('../imagens/topo.jpg');
    background-size: cover;
    height: 700px;
    width: 80%;
}

#fashion header {
    position: relative;
    height: 50px;
    background-color: #162028;
    border: 1px solid transparent;
}

#fashion img {
    margin: 5px 0 0 135px;
}

#fashion nav {
    position: absolute;
    top: 1px;
    right: 20px;
    height: 100%;
}

#fashion li {
    font-size: 12px;
    letter-spacing: 5px;
    display: inline;
    text-transform: uppercase;
    margin: 5px;
    padding: 15px;
}

#fashion a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: 1s;
}

#fashion a:hover {
    color: rgba(255, 255, 255, 1.0);
    transition: 1s;
    cursor: pointer;
}

#concept {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid transparent;
}

#concept h1 {
    margin-top: 40px;
    color: #444;
}

#concept p {
    padding: 0px 60px;
    color: #444;
}

#models {
    width: 80%;
    margin: auto;
    border: 1px solid transparent;
    color: #444;
}

#slides {
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.card {
    padding: 5px;
    width: 31%;
    display: inline-block;
    text-align: center;
}

.card h3 {
    margin: 2px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card p {
    margin: 5px;
}

#description {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-image: url('../imagens/bg_detalhe.png');
    background-size: cover;
    height: 500px;
    color: white;
    border: 1px solid transparent;
}

#description h1 {
    margin: 80px 80px 40px 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#description p {
    margin-left: 80px;
    width: 60%;
    text-align: justify;
}

#map {
    width: 80%;
    margin: auto;
    padding: 40px;
    border: 1px solid transparent;
    text-align: center;
    color: #444;
}

#map iframe {
    width: 100%;
}

footer {
    width: 90%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    letter-spacing: 3px;
}